<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   					   http://www.springframework.org/schema/context
	   					   http://www.springframework.org/schema/context/spring-context-3.1.xsd
	   					   http://www.springframework.org/schema/security
	   					   http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	   					   
  <security:http pattern="/admin/login.jsp" security="none"/>	   
  
  <security:http authentication-manager-ref="authenticationManager">
  	<security:intercept-url pattern="/**" access="ROLE_USER"/>
	<security:form-login login-page="/admin/login.jsp" always-use-default-target="true" default-target-url="/admin/index.jsp"/>
	<security:logout logout-url=""/>
  </security:http>
  
  
  <bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">  
       <property name="authenticationEventPublisher" ref="defaultAuthenticationEventPublisher"></property>  
       <property name="providers">  
           <list>  
               <ref local="daoAuthenticationProvider"/>  
               <ref local="anonymousAuthenticationProvider"/>  
           </list>  
       </property>  
   </bean>  
      
   <bean id="defaultAuthenticationEventPublisher" class="org.springframework.security.authentication.DefaultAuthenticationEventPublisher"></bean>  
      
   <bean id="anonymousAuthenticationProvider" class="org.springframework.security.authentication.AnonymousAuthenticationProvider">  
       <property name="key"><value>work</value></property>  
   </bean>  
      
   <bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">  
       <property name="userDetailsService" ref="userDetailsService"></property>  
   </bean>  
  
  <bean id="userDetailsService" class="com.hao123.security.service.UserDetailsServiceImpl">
  		
  </bean>
</beans>