@CHARSET "UTF-8";
.zw04{
	font-family: "宋体";
	color: #1659a7;
	FONT-SIZE:12px;
	padding-left: 8px;
	line-height: 23px;}
.table003 {
	background-color: #ffffff;
	border: 1px solid #68c0ed;
	
}
.table06 {height:400;
	background-color:#e5f1fc;
	border: 1px solid #0d4783;
	padding: 5px; 
}
.zw05{font-family: "����";color: #ff6633;FONT-SIZE:14px;font-weight: bold;}
.tdxx {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #68c0ed;
}