@charset "utf-8";

input.readonly {
	background-color: #EBEBE4;
}

input.money {
	text-align: right;
}

input .t98_p,textarea .t98_p {
	width: 98%;
}

input .t95_p,textarea .t95_p {
	width: 95%;
}

input .t90_p,textarea .t90_p {
	width: 90%;
}

input .t70_p,textarea .t70_p {
	width: 70%;
}

input .t400,textarea .t400 {
	width: 398px;
}

input .t300,textarea .t300 {
	width: 300px;
}

input.t270 {
	width: 270px;
}

input.t250 {
	width: 250px;
}

input.t240 {
	width: 240px;
}

input.t210 {
	width: 210px;
}

input.t200 {
	width: 200px;
}

input.t188 {
	width: 188px;
}

input.t170 {
	width: 170px;
}

input.t150 {
	width: 150px;
}

input.t115 {
	width: 115px;
}

input.t110 {
	width: 110px;
}

input.t100 {
	width: 100px;
}

input.t90 {
	width: 90px;
}

input.t70 {
	width: 70px;
}

input.t400_h {
	width: 398px;
	border: 0px;
}

input.t300_h {
	width: 300px;
	border: 0px;
}

input.t270_h {
	width: 270px;
	border: 0px;
}

input.t250_h {
	width: 250px;
	border: 0px;
}

input.t230_h {
	width: 230px;
	border: 0px;
}

input.t210_h {
	width: 210px;
	border: 0px;
}

input.t200_h {
	width: 200px;
	border: 0px;
}

input.t188_h {
	width: 188px;
	border: 0px;
}

input.t170_h {
	width: 170px;
	border: 0px;
}

input.t150_h {
	width: 150px;
	border: 0px;
}

input.t115_h {
	width: 115px;
	border: 0px;
}

input.t110_h {
	width: 110px;
	border: 0px;
}

input.t100_h {
	width: 100px;
	border: 0px;
}

input.t90_h {
	width: 90px;
	border: 0px;
}

input.t70_h {
	width: 70px;
	border: 0px;
}

textarea .t100_ph {
	width: 100%;
	border: 0px;
	overflow-y: auto;
}

select.s193{
	width: 193px;
}

button {
	text-indent: 0px;
	color: #FFF;
	cursor: pointer;
	border: 0px;
	height: 22px;
}

button.b2 {
	width: 80px;
	background-image: url(../images/btn/btn2.gif);
	background-repeat:no-repeat
}

button.b2:hover {
	background-image: url(../images/btn/btn2_hover.gif);
	background-repeat:no-repeat

}

button.b3 {
	width: 90px;
	background-image: url(../images/btn/btn3.gif);
	background-repeat:no-repeat
}

button.b3:hover {
	background-image: url(../images/btn/btn3_hover.gif);
	background-repeat:no-repeat

}

button.b4 {
	width: 100px;
	background-image: url(../images/btn/btn4.gif);
	background-repeat:no-repeat
}

button.b4:hover {
	background-image: url(../images/btn/btn4_hover.gif);
	background-repeat:no-repeat

}

button.b5 {
	width: 110px;
	background-image: url(../images/btn/btn5.gif);
	background-repeat:no-repeat
}

button.b5:hover {
	background-image: url(../images/btn/btn5_hover.gif);
	background-repeat:no-repeat

}

button.b60 {
	width: 60px;
	background-image: url(../images/btn/btn60.gif);
	background-repeat:no-repeat
}

button.b60:hover {
	background-image: url(../images/btn/btn60_hover.gif);
	background-repeat:no-repeat

}