@charset "utf-8";

body {
	font-family: "宋体", "Arial Unicode MS";
	color: #000000;
	background-color: #f2fbff;
}

UL#menu {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	WIDTH: 190px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none;
	FONT-SIZE: 13px;
	COLOR: #ffffff;
}

UL#menu UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	WIDTH: 190px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

UL#menu A {
	DISPLAY: inline-block;
	TEXT-DECORATION: none
}

UL#menu LI {
	MARGIN-TOP: 0
}

UL#menu LI UL {
	display:none;
}

UL#menu LI A {
	PADDING-LEFT: 43px;
	WIDTH: 190px;
	CURSOR: pointer;
	COLOR: #ffffff;
	LINE-HEIGHT: 30px;
	font-weight:bold
}

UL#menu LI UL A {
	font-weight:normal
}

.collapsed1 {
	BACKGROUND: url(../images/main/menu_bg_1c.gif) repeat-x;
	OVERFLOW: hidden
}

.expanded1 {
	BACKGROUND: url(../images/main/menu_bg_1e.gif) repeat-x;
	OVERFLOW: hidden
}

.nonesub1 {
	BACKGROUND: url(../images/main/menu_bg_1n.gif) repeat-x;
	OVERFLOW: hidden
}

UL#menu LI UL LI A {
	PADDING-LEFT: 45px;
	WIDTH: 190px;
	DISPLAY: block;
		CURSOR: pointer;
	COLOR: #434343;
	LINE-HEIGHT: 30px;
}

.collapsed2 {
	BACKGROUND: url(../images/main/menu_bg_2c.gif) repeat-x;
	OVERFLOW: hidden
}

.expanded2 {
	BACKGROUND: url(../images/main/menu_bg_2e.gif) repeat-x;
	OVERFLOW: hidden
}

.nonesub2 {
	BACKGROUND: url(../images/main/menu_bg_2n.gif) repeat-x;
	OVERFLOW: hidden
}

UL#menu LI UL LI UL LI A {
	DISPLAY: block;
	PADDING-LEFT: 47px;
	FONT-SIZE: 13px;
	BACKGROUND: url(../images/main/menu_bg_3n.jpg) no-repeat;
	width: 190px;
	COLOR: #2a78b7;
	LINE-HEIGHT: 28px;
	BORDER-BOTTOM: #b7c5d0 1px dashed
}

.nonesub2:hover {
	BACKGROUND: url(../images/main/menu_sub_icon.gif) #a6d2ea no-repeat 18px
		7px;
	TEXT-DECORATION: none;
	color: #c2e2f2;
}

.nonesub1:hover {
	BACKGROUND: url(../images/main/menu_sub_icon.gif) #a6d2ea no-repeat 18px
		7px;
	TEXT-DECORATION: none;color: #c2e2f2;
}

UL#menu LI UL LI UL LI A:hover {
	BACKGROUND: url(../images/main/menu_sub_icon.gif) #a6d2ea no-repeat 18px
		7px;
	TEXT-DECORATION: none;color: #c2e2f2;
}