@charset "utf-8";

TD.fix {
	overflow: hidden;
}

/* 分帧 */
.tabs {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	HEIGHT: 27px
}

.tabs LI {
	BACKGROUND: url(../images/tagleft.gif) no-repeat left bottom;
	FLOAT: left;
	HEIGHT: 28px;
	MARGIN-RIGHT: 6px;
	LIST-STYLE-TYPE: none;
}

.tabs LI label {
	BACKGROUND: url(../images/tagright.gif) no-repeat right bottom;
	FLOAT: left;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #fff;
	LINE-HEIGHT: 27px;
	PADDING-TOP: 0px;
	HEIGHT: 27px;
}

.tabs LI.selectTab {
	BACKGROUND-POSITION: left top;
	MARGIN-BOTTOM: -2px;
	POSITION: relative;
	HEIGHT: 28px
}

.tabs LI.selectTab label {
	BACKGROUND-POSITION: right top;
	COLOR: #488fba;
	LINE-HEIGHT: 30px;
	HEIGHT: 28px
}

/* 页面主体 */
.content {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	BORDER-RIGHT: #b6cddf 1px solid;
	BORDER-LEFT: #b6cddf 1px solid;
	BORDER-TOP: #b6cddf 1px solid;
	BORDER-BOTTOM: #b6cddf 1px solid;
	BACKGROUND-COLOR: #fff;
}

/* 页头标题 */
#title {
	height: 30px;
	width: 100%;
	border-bottom-width: 3px;
	border-bottom-style: double;
	border-bottom-color: #0066CC;
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	background-image: url(../images/title_bg.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #0066CC;
	margin-bottom: 15px;
}

#text_t {
	margin-left: 35px;
	line-height: 30px;
	float: left;
}

#text_o {
	float: right;
}

/* --查询条件与结果题头-- */
#rs_head, #sech_head {
	height: 28px;
	background-color: #e3f1fc;
	font-weight: bold;
	color: #0066CC;
	text-indent: 15px;
	line-height: 30px;
}

.title_t {
	height: 28px;
	background-color: #e3f1fc;
	font-weight: bold;
	text-indent: 15px;
	color: #0066CC;
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	text-indent: 20px;
}

/*子页面*/
#main_info {
	height: auto;
	width: 95%;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
}

#table_c {
	width: 98%;
	margin-bottom: 10px;
	border: 0px
}

TABLE td.th {
	font-weight: bold;
	background-color: #DEF1FB;
	word-break: break-all;
	word-wrap: break-word
}

TABLE td.th24 {
	height: 24px;
	font-weight: bold;
	background-image: url(../images/th_bg24.gif);
	background-repeat: repeat-x;
	word-break: break-all;
	word-wrap: break-word
}

TABLE td.th30 {
	height: 30px;
	font-weight: bold;
	background-image: url(../images/th_bg30.gif);
	background-repeat: repeat-x;
	word-break: break-all;
	word-wrap: break-word
}

TABLE td.th50 {
	height: 50px;
	font-weight: bold;
	background-image: url(../images/th_bg50.gif);
	background-repeat: repeat-x;
	word-break: break-all;
	word-wrap: break-word
}

/* 结果集Table */
TABLE.Results_t {
	width: 98%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	margin-right: auto;
	margin-left: auto;
	color: #372a22;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

TABLE.Results_btn {
	width: 98%;
	border: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

TABLE.Results_t TBODY tr {
	height: 25px;
}

TABLE.Results_t TBODY tr:hover {
	background-color: #ffffcd;
	cursor: pointer;
}

TABLE.Results_t TD {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
}

/* 单双行样式 */
.odd {
	background-color: #EFEFEF;
	cursor: pointer;
	word-break: break-all;
	word-wrap: break-word
}

.even {
	background-color: #FFF;
	cursor: pointer;
	word-break: break-all;
	word-wrap: break-word
}

.Wdate {
	width: 188px;
	background: #fff url(images/datePicker.gif) no-repeat right;
}

.Wdate100 {
	width: 100px;
	background: #fff url(images/datePicker.gif) no-repeat right;
}

.right {
	text-align: right;
	padding-right: 15px;
}

.red {
	color: #FF0000;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.indent {
	height: 28px;
	line-height: 28px;
	text-indent: 18px;
	font-family: "宋体";
	font-size: 13px;
}
.font {
	background: none repeat scroll 0 0 #FF8040;
	margin: 0 3px;
	padding: 3px 10px; 
	text-decoration: none;
	text-transform: uppercase; 
	color:#FFFFFF;
}