<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	threshold="debug">
	<appender name="SSI.AppLog.DailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="E:/applog/clz/mobiads/SSI.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %c.%M(%L) | %m%n" />
		</layout>
	</appender>
	
	
	<appender name="SSI.ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %c.%M(%L) | %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework" additivity="true">
		<level value="INFO" />
	</logger>
	
	<logger name="org.apache" additivity="true">
		<level value="INFO" />
	</logger>
	
	<logger name="net.sf.ehcache" additivity="true">
		<level value="INFO" />
	</logger>
	
	<root>
		<level value="debug" />
		<appender-ref ref="SSI.AppLog.DailyRollingFile" />
		<appender-ref ref="SSI.ConsoleAppender" />
	</root>
</log4j:configuration>