HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
B {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
TR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
.fle {
	FLOAT: left
}
.fri {
	FLOAT: right
}
.hide {
	DISPLAY: none
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; HEIGHT: 0px; BACKGROUND-COLOR: transparent
}
A {
	COLOR: #0679e4; TEXT-DECORATION: underline
}
.Cblack {
	COLOR: #000
}
.Cgray {
	COLOR: #999
}
.Cred {
	COLOR: #c00
}
.Cwhite {
	COLOR: #fff
}
.Cgreen {
	COLOR: #16960e
}
.Cblue {
	COLOR: #0483cc
}
.F12 {
	FONT-SIZE: 12px
}
.F14 {
	FONT-SIZE: 14px
}
.txtc {
	TEXT-ALIGN: center
}
.unnes {
	FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 30px
}
.nes {
	FONT-SIZE: 14px; COLOR: #c00; LINE-HEIGHT: 30px
}
LABEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
/*http://mimg.126.net/xm/reg_all/img/logo_w.gif*/
.logo_w {
	BACKGROUND-IMAGE: url(../../images/logo_w.gif)
}
.content .mhd {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.content .mft {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.cont-tab TD.td3 .info B {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.info-pop-t {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.info-pop-t B {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
DIV.info-pop-b B {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
DIV.info-pop-b {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.info-pop .arr {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.btn-jc {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.btn-submit {
	BACKGROUND-IMAGE: url(../../images/ljzc.jpg); BACKGROUND-REPEAT: no-repeat
}
.btn-submit-act {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.Aenter {
	BACKGROUND-IMAGE: url(../../images/bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.content .mcont {
	BACKGROUND-IMAGE: url(../../images/bg_y.gif); BACKGROUND-REPEAT: repeat-y
}
.main-cont-tit {
	BACKGROUND-IMAGE: url(../../images/bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
HTML {
	BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
BODY {
	BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.header {
	MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 90px
}
.logo {
	MARGIN-TOP: 23px; FLOAT: left
}
.logo_w {
	BACKGROUND-POSITION: 0px 0px; MARGIN-TOP: 25px; FLOAT: left; WIDTH: 283px; HEIGHT: 36px
}
.head_links {
	MARGIN-TOP: 40px; FLOAT: right; COLOR: #999; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.head_links A {
	COLOR: #999; TEXT-DECORATION: none
}
.head_links A:hover {
	TEXT-DECORATION: underline
}
.content {
	Z-INDEX: 444; MARGIN: 0px auto; WIDTH: 964px; HEIGHT: auto
}
.content .mhd {
	BACKGROUND-POSITION: -9px -4px; WIDTH: 964px; POSITION: relative; HEIGHT: 73px
}
.content .mcont {
	BACKGROUND-POSITION: -7px 0px; WIDTH: 964px; HEIGHT: auto; TEXT-ALIGN: center
}
.content .mft {
	BACKGROUND-POSITION: -9px -102px; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 964px; LINE-HEIGHT: 0px; POSITION: relative; HEIGHT: 10px
}
.content .mhd .tit {
	FONT-SIZE: 14px; LEFT: 55px; WIDTH: 900px; COLOR: #d3eafe; LINE-HEIGHT: 16px; POSITION: absolute; TOP: 19px; TEXT-ALIGN: left
}
.main-cont {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 870px; PADDING-TOP: 10px
}
.cont-tab {
	WIDTH: 870px
}
.cont-tab TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: top; LINE-HEIGHT: 30px; PADDING-TOP: 6px
}
.cont-tab TD.tit {
	PADDING-LEFT: 42px; FONT-SIZE: 12px; LINE-HEIGHT: 26px
}
.cont-tab TD.td1 {
	FONT-SIZE: 14px; WIDTH: 200px; TEXT-ALIGN: right
}
.cont-tab TD.td2 {
	WIDTH: 295px
}
.cont-tab TD.td2 .inp {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: 1px solid; WIDTH: 100%; LINE-HEIGHT: 16px; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid; HEIGHT: 26px
}
.cont-tab TD.td2 .sel {
	FONT-SIZE: 14px; WIDTH: 100%
}
INPUT.ipt-normal {
	BORDER-LEFT-COLOR: #a0b4c5; BORDER-BOTTOM-COLOR: #a0b4c5; BORDER-TOP-COLOR: #a0b4c5; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #a0b4c5
}
INPUT.ipt-focus {
	BORDER-LEFT-COLOR: #727272; BORDER-BOTTOM-COLOR: #727272; BORDER-TOP-COLOR: #727272; BACKGROUND-COLOR: #fffbd5; BORDER-RIGHT-COLOR: #727272
}
INPUT.ipt-error {
	BORDER-LEFT-COLOR: #d5060d; BORDER-BOTTOM-COLOR: #d5060d; BORDER-TOP-COLOR: #d5060d; BACKGROUND-COLOR: #fef5f5; BORDER-RIGHT-COLOR: #d5060d
}
.cont-tab TD.td3 {
	WIDTH: auto
}
.cont-tab TD.td3 .info {
	POSITION: relative; HEIGHT: 20px
}
B.ico-ok {
	DISPLAY: block; FONT-SIZE: 0px; LEFT: 0px; OVERFLOW: hidden; WIDTH: 18px; POSITION: absolute; TOP: 3px; HEIGHT: 18px
}
B.ico-error {
	DISPLAY: block; FONT-SIZE: 0px; LEFT: 0px; OVERFLOW: hidden; WIDTH: 18px; POSITION: absolute; TOP: 3px; HEIGHT: 18px
}
B.ico-ok {
	BACKGROUND-POSITION: -5px -146px
}
B.ico-error {
	BACKGROUND-POSITION: -30px -146px
}
.info-pop {
	LEFT: 32px; WIDTH: 307px; POSITION: absolute; TOP: -4px; HEIGHT: auto; BACKGROUND-COLOR: #ededeb
}
.info-pop-t {
	BACKGROUND-POSITION: -78px -146px; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 100%; LINE-HEIGHT: 0px; HEIGHT: 3px
}
DIV.info-pop-t B {
	DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 5px; HEIGHT: 3px
}
.info-pop-t B.cr-l {
	BACKGROUND-POSITION: -75px -146px; FLOAT: left
}
.info-pop-t B.cr-r {
	BACKGROUND-POSITION: -440px -146px; FLOAT: right
}
.info-pop-c .cont {
	CLEAR: both; BORDER-RIGHT: #bebcb5 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #bebcb5 0px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #bebcb5 1px solid; COLOR: #4a4a4a; LINE-HEIGHT: 24px; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #bebcb5 0px solid; FONT-FAMILY: simsun; BACKGROUND-COLOR: #fffef6
}
.info-pop-t {
	BACKGROUND-POSITION: -80px -146px; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 100%; LINE-HEIGHT: 0px; HEIGHT: 3px
}
.info-pop-b {
	BACKGROUND-POSITION: -78px -154px; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 100%; LINE-HEIGHT: 0px; HEIGHT: 5px
}
DIV.info-pop-b B {
	DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 5px; HEIGHT: 5px
}
.info-pop-b B.cr-l {
	BACKGROUND-POSITION: -75px -154px; FLOAT: left
}
.info-pop-b B.cr-r {
	BACKGROUND-POSITION: -440px -154px; FLOAT: right
}
.info-pop .arr {
	BACKGROUND-POSITION: -65px -146px; LEFT: -8px; OVERFLOW: hidden; WIDTH: 9px; POSITION: absolute; TOP: 10px; HEIGHT: 13px
}
DIV.I-error .info-pop-t {
	BACKGROUND-POSITION: -78px -167px
}
DIV.I-error .info-pop-t B.cr-l {
	BACKGROUND-POSITION: -75px -167px
}
DIV.I-error .info-pop-t B.cr-r {
	BACKGROUND-POSITION: -440px -167px
}
DIV.I-error .info-pop-c .cont {
	BORDER-LEFT-COLOR: #eaabad; BORDER-BOTTOM-COLOR: #eaabad; COLOR: #333; BORDER-TOP-COLOR: #eaabad; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #eaabad
}
DIV.I-error .info-pop-b {
	BACKGROUND-POSITION: -78px -175px
}
DIV.I-error .info-pop-b B.cr-l {
	BACKGROUND-POSITION: -75px -175px
}
DIV.I-error .info-pop-b B.cr-r {
	BACKGROUND-POSITION: -440px -175px
}
DIV.I-error .arr {
	BACKGROUND-POSITION: -65px -167px
}
.btn-submit {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -5px -57px; BORDER-TOP: 0px; MARGIN-TOP: 15px; BORDER-LEFT: 0px; WIDTH: 114px; CURSOR: pointer; BORDER-BOTTOM: 0px; HEIGHT: 37px
}
.btn-submit-act {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -135px -57px; BORDER-TOP: 0px; MARGIN-TOP: 15px; BORDER-LEFT: 0px; WIDTH: 114px; CURSOR: pointer; BORDER-BOTTOM: 0px; HEIGHT: 37px
}
.psw-sinfo {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; FLOAT: left; MARGIN: 3px 4px 0px; BORDER-LEFT: #666 1px solid; WIDTH: 180px; BORDER-BOTTOM: #666 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #fff
}
.psw-sinfo .bar {
	FONT-SIZE: 0px; MARGIN: 1px; LINE-HEIGHT: 0px; HEIGHT: 8px; BACKGROUND-COLOR: #fff
}
.psw-sinfo .state0 {
	BACKGROUND-COLOR: #fff
}
.psw-sinfo .state1 {
	WIDTH: 25%; BACKGROUND-COLOR: #c00
}
.psw-sinfo .state2 {
	WIDTH: 50%; BACKGROUND-COLOR: #f90
}
.psw-sinfo .state3 {
	WIDTH: 75%; BACKGROUND-COLOR: #2ca4de
}
.psw-sinfo .state4 {
	BACKGROUND-COLOR: #40984c
}
.main-cont-tit {
	BACKGROUND-POSITION: 0px 0px; MARGIN: 20px 0px; TEXT-INDENT: 15px; LINE-HEIGHT: 30px; POSITION: relative; HEIGHT: 30px; TEXT-ALIGN: left
}
.main-cont-tit H2 {
	FONT-SIZE: 14px; FLOAT: left; COLOR: #007bbb; LINE-HEIGHT: 30px
}
.main-cont-tit A {
	FONT-WEIGHT: normal
}
.main-cont-tit SPAN {
	LINE-HEIGHT: 30px
}
.main-cont-tit .arr {
	BORDER-RIGHT: #fff 5px solid; BORDER-TOP: #98b7cc 5px solid; FONT-SIZE: 0px; LEFT: 40px; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #fff 5px solid; LINE-HEIGHT: 0px; POSITION: absolute; TOP: 30px
}
.btn-jc {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -468px -146px; BORDER-TOP: 0px; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; WIDTH: 43px; CURSOR: pointer; COLOR: #1f79a7; BORDER-BOTTOM: 0px; HEIGHT: 26px
}
.btn-jc:active {
	PADDING-LEFT: 1px; PADDING-TOP: 2px
}
TD.named {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
TD.named SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.chose-list {
	BORDER-RIGHT: #98b7cc 1px solid; BORDER-TOP: #98b7cc 1px solid; MARGIN-TOP: -5px; BORDER-LEFT: #98b7cc 1px solid; WIDTH: 305px; BORDER-BOTTOM: #98b7cc 1px solid; POSITION: relative; HEIGHT: auto; BACKGROUND-COLOR: #fff
}
.chose-list .tit {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #e1e1e1 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #e8f7fe
}
.chose-list UL {
	PADDING-BOTTOM: 3px
}
.chose-list UL LI {
	LINE-HEIGHT: 14px; HEIGHT: 28px; BACKGROUND-COLOR: #fff
}
.chose-list UL LI .cont {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FLOAT: left; MARGIN-LEFT: 3px; COLOR: #999
}
.chose-list UL LI LABEL {
	CURSOR: default
}
.chose-list UL LI .cont STRONG {
	COLOR: #999
}
.chose-list UL LI .cont INPUT {
	VISIBILITY: hidden; VERTICAL-ALIGN: middle
}
.chose-list UL LI .sp2 {
	MARGIN-TOP: 5px; DISPLAY: block; FLOAT: right; COLOR: #999; MARGIN-RIGHT: 5px
}
.chose-list UL LI .sp1 {
	MARGIN-TOP: 5px; DISPLAY: none; FLOAT: right; COLOR: #333; MARGIN-RIGHT: 5px
}
.chose-list UL LI.allow .cont {
	COLOR: #007bbb
}
.chose-list UL LI.allow LABEL {
	CURSOR: pointer
}
.chose-list UL LI.allow .cont STRONG {
	COLOR: #333
}
.chose-list UL LI.allow .cont INPUT {
	VISIBILITY: visible
}
.chose-list UL LI.allow .sp1 {
	DISPLAY: block
}
.chose-list UL LI.allow .sp2 {
	DISPLAY: none
}
.chose-list .arr {
	FONT-SIZE: 0px; LEFT: 15px; BACKGROUND-IMAGE: url(../images/arr_blue.gif); WIDTH: 16px; LINE-HEIGHT: 0px; POSITION: absolute; TOP: -8px; HEIGHT: 8px
}
.notice {
	BORDER-LEFT-COLOR: #d5060d; BORDER-BOTTOM-COLOR: #d5060d; BORDER-TOP-COLOR: #d5060d; BORDER-RIGHT-COLOR: #d5060d
}
.notice .tit {
	COLOR: #d5060d; BACKGROUND-COLOR: #fef5f5
}
.notice .arr {
	BACKGROUND-IMAGE: url(../images/arr_red.gif)
}
TD.codeImg IMG {
	BORDER-RIGHT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #e7e7e7 1px solid; BORDER-BOTTOM: #e7e7e7 1px solid
}
TD.codeImg A {
	TEXT-DECORATION: underline
}
.btn-submit {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -9px -219px; BORDER-TOP: 0px; MARGIN: 25px 0px; BORDER-LEFT: 0px; WIDTH: 117px; CURSOR: pointer; BORDER-BOTTOM: 0px; HEIGHT: 41px
}
.btn-submit-act {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -126px -219px; BORDER-TOP: 0px; MARGIN: 25px 0px; BORDER-LEFT: 0px; WIDTH: 117px; CURSOR: pointer; BORDER-BOTTOM: 0px; HEIGHT: 41px
}
.creat-btn .btn-submit {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -251px -219px; BORDER-TOP: 0px; MARGIN: 25px 0px; BORDER-LEFT: 0px; WIDTH: 117px; CURSOR: pointer; BORDER-BOTTOM: 0px; HEIGHT: 41px
}
.creat-btn .btn-submit-act {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -368px -219px; BORDER-TOP: 0px; MARGIN: 25px 0px; BORDER-LEFT: 0px; WIDTH: 117px; CURSOR: pointer; BORDER-BOTTOM: 0px; HEIGHT: 41px
}
.Sphoto {
	BORDER-RIGHT: #b3c7d5 1px solid; BORDER-TOP: #b3c7d5 1px solid; LEFT: 12px; BORDER-LEFT: #b3c7d5 1px solid; BORDER-BOTTOM: #b3c7d5 1px solid; POSITION: absolute; TOP: 11px; BACKGROUND-COLOR: #fff
}
.Sphoto IMG {
	MARGIN: 1px; WIDTH: 25px; HEIGHT: 25px
}
.finish-area {
	MARGIN: 10px auto; WIDTH: 670px; HEIGHT: auto
}
.finish-area TABLE {
	MARGIN: 15px 0px; WIDTH: 100%
}
.finish-area TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; WIDTH: 255px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.finish-area TABLE TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; WIDTH: auto; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.main-cont H3.Cred {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.main-cont H3.Cred A {
	FONT-WEIGHT: normal; FONT-SIZE: 14px
}
.footer {
	CLEAR: both; Z-INDEX: 555; MARGIN: 20px 0px; COLOR: #888; LINE-HEIGHT: 250%; POSITION: relative; TEXT-ALIGN: center
}
.footer A {
	COLOR: #888; TEXT-DECORATION: none
}
.footer A:hover {
	TEXT-DECORATION: underline
}
.Aenter {
	BACKGROUND-POSITION: -494px -219px; DISPLAY: block; MARGIN: 25px auto; WIDTH: 117px; HEIGHT: 41px
}
.Aenter2 {
	DISPLAY: block; BACKGROUND-IMAGE: url(../images/enter2.gif); MARGIN: 35px auto 25px; WIDTH: 154px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 41px
}
.err-info {
	CLEAR: both; BORDER-RIGHT: #f1c878 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #f1c878 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 10px 150px; BORDER-LEFT: #f1c878 1px solid; COLOR: #c00; PADDING-TOP: 5px; BORDER-BOTTOM: #f1c878 1px solid; BACKGROUND-COLOR: #fff8c9; TEXT-ALIGN: left
}
.cont-info {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 25px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 25px; PADDING-BOTTOM: 25px; MARGIN: 30px 20px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 25px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fffef6; TEXT-ALIGN: left
}
.cont-info H1 {
	PADDING-LEFT: 28px; FONT-SIZE: 16px; BACKGROUND-IMAGE: url(../images/ico_sus.gif); COLOR: #13a907; LINE-HEIGHT: 22px; BACKGROUND-REPEAT: no-repeat
}
.cont-info-det {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 20px; COLOR: #000; LINE-HEIGHT: 30px; PADDING-TOP: 15px
}
.cont-info-rember {
	BORDER-RIGHT: #eaeaea 1px solid; BORDER-TOP: #eaeaea 1px solid; BORDER-LEFT: #eaeaea 1px solid; TEXT-INDENT: 20px; BORDER-BOTTOM: #eaeaea 1px solid; ZOOM: 1; BACKGROUND-COLOR: #fff
}
.cont-info-rember .hd {
	COLOR: #000; LINE-HEIGHT: 34px; HEIGHT: 34px; BACKGROUND-COLOR: #f4f4f4
}
.footer-gg {
	CLEAR: both; MARGIN: 5px 20px; LINE-HEIGHT: 30px; FONT-FAMILY: simsun; TEXT-ALIGN: left
}
.mob-area .tit {
	BACKGROUND-IMAGE: url(../img/mob_bgx.gif); BACKGROUND-REPEAT: no-repeat
}
.mob-area .set TABLE TD .btn-get {
	BACKGROUND-IMAGE: url(../img/mob_bgx.gif); BACKGROUND-REPEAT: no-repeat
}
.mob-area .set TABLE TD .btn-enter {
	BACKGROUND-IMAGE: url(../img/mob_bgx.gif); BACKGROUND-REPEAT: no-repeat
}
.mob-area {
	CLEAR: both; WIDTH: 100%; PADDING-TOP: 10px; HEIGHT: auto
}
.mob-area .tit {
	BORDER-RIGHT: #e7e6ba 1px solid; BACKGROUND-POSITION: 0px -180px; BORDER-TOP: #e7e6ba 0px solid; BORDER-LEFT: #e7e6ba 1px solid; BORDER-BOTTOM: #e7e6ba 0px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 63px
}
.mob-area .tit .chk {
	FLOAT: left; WIDTH: 28px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.mob-area .tit .chk INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; WIDTH: 14px; PADDING-TOP: 0px; ZOOM: 1; HEIGHT: 14px
}
.mob-area .tit .words {
	PADDING-LEFT: 35px; COLOR: #6f6f6f; LINE-HEIGHT: 22px; PADDING-TOP: 12px
}
.mob-area .tit .words H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
.mob-area .set {
	BORDER-RIGHT: #eaeaea 1px solid; BORDER-TOP: #eaeaea 1px solid; MARGIN-TOP: -1px; DISPLAY: none; OVERFLOW: hidden; BORDER-LEFT: #eaeaea 1px solid; BORDER-BOTTOM: #eaeaea 1px solid; HEIGHT: 235px; BACKGROUND-COLOR: #fff
}
.mob-area .set .cartoon {
	BACKGROUND: url(../img/cartoon.jpg) no-repeat; FLOAT: left; WIDTH: 346px; HEIGHT: 234px
}
.mob-area .set TABLE {
	TABLE-LAYOUT: fixed; FLOAT: left; WIDTH: 400px; HEIGHT: auto
}
.mob-area .set TABLE .tr-h1 TD {
	VERTICAL-ALIGN: bottom; OVERFLOW: hidden; COLOR: #565656; HEIGHT: 45px
}
.mob-area .set TABLE .tr-h1 TD STRONG {
	FONT-SIZE: 14px; LINE-HEIGHT: 16px
}
.mob-area .set TABLE TH {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; WIDTH: 52px; COLOR: #565656
}
.mob-area .set TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: auto; PADDING-TOP: 5px
}
.mob-area .set TABLE TD .inp {
	BORDER-RIGHT: #838383 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #838383 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; BORDER-LEFT: #838383 1px solid; WIDTH: 190px; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #838383 1px solid; HEIGHT: 24px
}
.mob-area .set TABLE TD .btn-get {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: 0px 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 120px; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
.mob-area .set TABLE TD .btn-enter {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: 0px -36px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: 0px; WIDTH: 185px; CURSOR: pointer; COLOR: #1a7430; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; HEIGHT: 33px; BACKGROUND-COLOR: #fff
}
.mob-area .set TABLE TD .btn-get-disable {
	BACKGROUND-POSITION: 0px -252px; COLOR: #666
}
.mob-area .set TABLE TD .btn-enter-disable {
	BACKGROUND-POSITION: 0px -288px; COLOR: #666
}
.mob-show .set {
	DISPLAY: block
}
.infoct {
	PADDING-RIGHT: 0px; PADDING-LEFT: 165px; FONT-SIZE: 14px; PADDING-BOTTOM: 50px; PADDING-TOP: 50px; ZOOM: 1; POSITION: relative; TEXT-ALIGN: left
}
.infoct B.ico-er {
	LEFT: 130px; BACKGROUND-IMAGE: url(../img/ico_er.gif); WIDTH: 22px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 50px; HEIGHT: 22px
}
.infoct H2 {
	FONT-SIZE: 14px
}
.infoct-ok B.ico-er {
	BACKGROUND-POSITION: -19px -12px
}
.infoct-false B.ico-er {
	BACKGROUND-POSITION: -19px -76px
}
.infoct-ok H2 {
	COLOR: #16960e
}
.infoct-false H2 {
	COLOR: #d90000
}
.infoct P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.infoct P A {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #074977
}
.infoct P SPAN {
	FONT-SIZE: 14px
}
.infoct P A.F12 {
	FONT-SIZE: 12px
}
.succ-info {
	BORDER-RIGHT: #bcbcbc 1px solid; BORDER-TOP: #bcbcbc 1px solid; MARGIN-TOP: 45px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 50px; BORDER-LEFT: #bcbcbc 1px solid; WIDTH: 427px; BORDER-BOTTOM: #bcbcbc 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #fffef0; TEXT-ALIGN: center; webkit-border-radius: 6px; moz-border-radius: 6px
}
.succ-info A {
	COLOR: #074977
}
.succ-mob A {
	COLOR: #074977
}
.succ-info TABLE {
	TABLE-LAYOUT: fixed; MARGIN: 12px auto; WIDTH: 364px; HEIGHT: auto
}
.succ-info TABLE TH {
	VERTICAL-ALIGN: top; WIDTH: 64px; TEXT-ALIGN: left
}
.succ-info TABLE TD {
	FONT-SIZE: 14px; WIDTH: auto
}
.succ-info TABLE B.ico-succ {
	DISPLAY: block; BACKGROUND: url(../img/ico_succ_big.gif); WIDTH: 46px; HEIGHT: 46px
}
.succ-info .info-show {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.succ-info TABLE DL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px
}
.succ-info TABLE DL DT {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 100px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: right
}
.succ-info TABLE DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 100px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.succ-mob {
	CLEAR: none; DISPLAY: inline; FLOAT: right; WIDTH: 390px; MARGIN-RIGHT: 15px
}
.succ-mob .set {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: block; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: auto
}
.succ-mob .succ-intro {
	PADDING-BOTTOM: 10px; COLOR: #404040; LINE-HEIGHT: 22px; PADDING-TOP: 50px; ZOOM: 1; POSITION: relative; TEXT-ALIGN: left
}
.succ-mob .succ-intro SPAN {
	DISPLAY: block; RIGHT: 20px; BACKGROUND: url(../img/ico_free.gif) no-repeat 0px 0px; OVERFLOW: hidden; WIDTH: 56px; TEXT-INDENT: 300px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 50px; HEIGHT: 21px
}
.succ-mob .succ-intro .Cgray {
	COLOR: #6f6f6f
}
A.Aknow {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 100%; TEXT-INDENT: 300px; WHITE-SPACE: nowrap; HEIGHT: 36px
}
A.Aknow2 {
	FONT-SIZE: 14px; FLOAT: right; COLOR: #d3eafe; MARGIN-RIGHT: 15px; TEXT-DECORATION: underline
}
